[submodule "qmk/qmk_firmware"]
	path = qmk/qmk_firmware
	url = git@github.com:Accurate0/qmk_firmware.git
	branch = develop
[submodule "hidd/loguru"]
	path = hidd/loguru
	url = https://github.com/emilk/loguru.git
