[Unit]
Description=HID daemon :)
# wait for my sound card
Requires=sound.target
After=sound.target

[Service]
ExecStart=/usr/local/bin/hid
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
